board/myna-player-odyssey/utilities/certs.txt
board/myna-player-odyssey/utilities/genimage.cfg
board/myna-player-odyssey/utilities/machine-id
pki
easy-rsa
board/myna-player-odyssey/rootfs_overlay/etc/rauc/keyring.pem
output/*
dl/*
